# Mac metadata files
.DS_Store

# Local TF directories
**/.terraform/*

# State files
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Crash log files
crash.log

# Variable files 
*.tfvars

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# local archive 
archive